.header {
    grid-area: h;
    height: 80px;
    background-color: rgba(81, 83, 151, 0.185);
    display: block;
    display: flex;
    justify-content: space-around;

    & img {
        border-radius: 20%;
    }
    & input {
        width: 400px;
        opacity: 0.7;
        margin: 20px;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid rgb(3, 26, 128);
        border-radius: 50%;
        box-sizing: border-box;
    }
}
.but {
    height: 40px;
    margin: 20px;
    font-weight: bold;
    border-radius: 25%;
    margin-right: 700px;
}
.but1 {
    height: 40px;
    font-weight: bold;
    background-color: rgba(204, 84, 84, 0.815);
    margin: 20px;
    border-radius: 25%;
}
