.blok {
    border-radius: 50%;
    display: inline-block;
    width: 300px;
    height: 300px;

    background: conic-gradient(rgb(55, 197, 121) 120deg, rgb(179, 194, 48) 120deg 240deg, rgb(9, 175, 153) 240deg);
}
